@model Adhyapann_Project.Models.Questions
@{
    ViewData["Title"] = "Quiz";
}

<link href="~/wwwroot/css/sub_test.css" rel="stylesheet" />
<script src='https://static.codepen.io/assets/editor/live/console_runner-1df7d3399bdc1f40995a35209755dcfd8c7547da127f6469fd81e5fba982f6af.js'></script>
<script src='https://static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js'></script>
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style type="text/css">

    .bs-example {
        margin: 20px;
    }

    body {
        font-size: 18px !important;
    }
</style>
<style class="cp-pen-styles">

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    body {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        color: #5e5d52;
    }

    a {
        color: #337aa8;
    }

        a:hover, a:focus {
            color: #4b8ab2;
        }

    .container {
        /*margin: 5% 3%;*/
        margin-top: 1%;
        padding-top: 35px;
    }

    #form {
        background-color: #FFF;
        height: 600px;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0px;
        text-align: center;
    }

    label {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 16px;
        color: #333;
        height: 50px;
        width: 300px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 10px;
        float: left;
    }

    input {
        border: 1px solid #000;
        margin-top: 10px;
    }
</style>


<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3 nav-item nav-link active">
            <a class="nav-link" href="/index">Home</a>
        </li>

    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item px-3">
            <button type="submit" class="nav-link">Logout</button>
        </li>
    </ul>
</header>

<div class="container">
    <h1 align="center">@Model.lstQuestion[1].SubTest_Name</h1>
    <form id="studentForm" action="../SubmitQuestions" method="post">

        @foreach (DataAccessLayer.Question question in Model.lstQuestion)
        {
            <div class="question-gaps">
                <h2 id="@question.Question_ID">@question.Question_Query</h2>
                <label><input type="radio" name="@question.Question_ID" value="@question.Option1" id="@question.Option1" />@question.Option1</label>
                <label><input type="radio" name="@question.Question_ID" value="@question.Option2" id="@question.Option2" />@question.Option2</label>
                <label><input type="radio" name="@question.Question_ID" value="@question.Option3" id="@question.Option3" />@question.Option3</label>
                <label><input type="radio" name="@question.Question_ID" value="@question.Option4" id="@question.Option4" />@question.Option4</label>
                <label><input type="radio" name="@question.Question_ID" value="@question.Option5" id="@question.Option5" />@question.Option5</label>
                <input type="hidden" id="@question.Correct_Answer" value="@question.Correct_Answer" />
            </div>
        }

        @{int nextSubTest = @Model.lstQuestion[0].SubTest_ID + 1;}
        <button type="submit" value="Submit">Submit</button>
        <a href="/student/practiceset/@nextSubTest"><button id="NextSubtest">Next</button></a>
    </form>
</div>

<script>
    $("#NextSubtest").click(function (e) {
        e.preventDefault();
        window.location.replace(this.parentElement.href);
    });
</script>

