@{
    Layout = null;
}
@model DataAccessLayer.Student

<html lang="en">
<head>

    <!--<meta charset="utf-8" content="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2299c5">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <title>ONLINE VERBAL APTITUDE TEST</title>
    <meta name="keywords" content="online, verbal, english, ability, test, questions, answers, explanation, solutions, 1" />
    <meta name="description" content="Take this &quot;Online Verbal Ability Test 1&quot; test and find out how much you score before you appear for your next interview and written test." />
    <link href="~/wwwroot/css/verbal_test.css" type="text/css" rel="stylesheet" media="screen" />
    <script src="~/wwwroot/js/verbal_test.js" type="text/javascript"></script>
    <script src="~/wwwroot/js/Test.js" type="text/javascript"></script>
    <link href="~/wwwroot/css/responsive-ui.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <script type="text/javascript" charset="utf-8">

        function StartTestButtonClickHandler(thisObj) {
            /* 4 Lines - Firefox Combatability */
            //$('#divResult').html('');
            var _timerHandler = 0;
            $('#hdnTimer').val($('#hdnInitialTimer').val());

            $('#divInitiator').remove();

            $('#divTabContent').show();
            //$('#idTimerSpan').show();
            $('#divFloatTimer').show();
            _timerHandler = setInterval("MyTimer()", 1000);
        }

        function MyTimer() {
            var valueTimer = $('#hdnTimer').val();

            if (valueTimer > 0) {
                valueTimer = valueTimer - 1;

                hours = (valueTimer / 3600).toString().split('.')[0];
                mins = ((valueTimer % 3600) / 60).toString().split('.')[0];
                secs = ((valueTimer % 3600) % 60).toString();

                if (hours.length == 1) hours = '0' + hours;
                if (mins.length == 1) mins = '0' + mins;
                if (secs.length == 1) secs = '0' + secs;

                $('#idTimerLCD').text(hours + ':' + mins + ':' + secs);
                $('#hdnTimer').val(valueTimer);

                document.title = $('#idTimerLCD').text();
                $('#idFloatTimerLCD').text($('#idTimerLCD').text());
            }
            else {
                $("#btnStartTest").show();

            }
        }

    </script>
</head>

<body>

    <div>
        <div>

            @*<div>
                    <input id="hdnTitleID" type="hidden" value="7" />

                </div>*@

            @*<div id="divHeader" class="pagehead" style="text-align:center"><h1>VERBAL APTITUDE TEST - INFORMATION</h1></div>*@
            <section class="c-hero c-hero--test">
                <div id="divHeader" class="c-hero-test l-article l-container l-grid l-grid-2 l-grid-nogap u-flex-align-s">
                    <div class="c-hero__intro u-flex-1 js-package" data-slug="top-aptitude-tests">
                        <h1 class="heading--xxl u-mt1">
                            INSTRUCTIONS : PERFORMANCE APTITUDE TEST
                        </h1>
                        <h2 class="heading--xxl u-mt1">
                            SPATIAL (You have 1 minutes and 30 seconds to go through the instructions pertaining to this test. You can start the test after that. )
                        </h2>


                        @*<div class="c-hero__description">
                                <p>
                                    Welcome to Adhyapaan Physchometric Test platform. The test we have designed is a simple test to measure Emotional Regulation and various aspects on one’s Aptitude, which helps in identifying the areas of strength and weakness for an individual.
                                </p>
                            </div>*@
                    </div>

                    @*<div id="divStartTestInstruction" style="text-align:left !important">
                            <div class="div-test-instruction">

                                <div style="color:white">
                                    <p class="mx-bold mx-uline" style="color:white">Instruction:</p>
                                    Each of the following 40 questions is followed by the five possible answers from A to E. choose the answer that is correct and darken the appropriate letter on the separate answer sheet.
                                </div>
                            </div>
                        </div>*@


                </div>

            </section>
            <div id="divUserDetails" style="margin-left:0px;margin-right:0px;">
                <fieldset class="adhypan-fieldset">
                    <legend align="left" style="color: black;"><b> Student Details:</b></legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">Name: @Model.Name</div>
                            <div class="col-md-6">Email: @Model.Email_ID</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Package: @Model.Package_Name</div>
                            <div class="col-md-6">Reference Code: @Model.Reference_Code</div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="divFloatTimer" align="center" style="display:none; padding:10px; position:fixed; z-index:3000000; Top:20px; right:80px; width:auto; background-color:#5eac1a; color:white; ">
                Time Left: <span id="idFloatTimerLCD" style="font-weight:bold"></span>
            </div>
            <div class="breadcrumb">
                @*<a href="/">Home</a> &raquo;
                    <a href="/online-test/categories/">Online Test</a> &raquo;
                    <a href="/online-test/verbal-ability-test/">Online Verbal Ability Test</a> &raquo; Verbal Ability Test 1*@
                <span id="idTimerSpan" style="color:red; display:none; padding-left:15px">Time Left: <b id="idTimerLCD">00:01:30</b></span>
                <input type="hidden" id="hdnTestTitleID" value="3" />
                <input type="hidden" id="hdnTestID" value="21" />
                <input type="hidden" id="hdnInitialTimer" value="90" />
                <input type="hidden" id="hdnTimer" value="90" />
            </div>
            <div class="main-left">

                <div class="div-test-initiator" style="background-image: url(/wwwroot/images/Apptpuzzle.jpg);">
                    <div id="divStartTestInstruction">
                        <div class="div-test-instruction">
                            <p class="mx-green mx-bold mx-uline">Instruction:</p>
                            <div class="bix-div-direction">
                                <div class="title-bar">

                                    <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td colspan="2">
                                                <div class="bix-div-direction">
                                                    <div class="title-bar">
                                                        The purpose of the next test is to find out how well you can see the differences in figures. Each problem in this test consists of one figure on the left of a vertical line and five figures on the right. You are to decide which of the five figures on the right is the same as the figure on the left.
                                                    </div>
                                                    <div class="title-bar">
                                                        Look at question Y.
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="img-PA-pic-completion" valign="middle">
                                                <img id="imgPASpatial0" src="~/wwwroot/images/PA-Spatial/PASpatial0.png" />

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="bix-div-direction">
                                                    <div class="title-bar">
                                                        Figure B is the same as the figure on the left, so you would black out the space next to B on your answer sheet. Figure B can be made to look like the figure on the left by turning it into a different position. Figures A, C, D and E are not the same. They cannot be made to look like the figure on the left by turning them on the page. They would have to be flipped over.
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="bix-div-direction">
                                                    <div class="title-bar">
                                                        Practice on the following sample problems. The correct answer is indicated to the right of each problem.
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td class="img-PA-pic-completion" valign="middle">
                                                <div class="bix-div-direction">
                                                    <img id="imgPASpatial1" src="~/wwwroot/images/PA-Spatial/PASpatial00.png" />
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                    <p align="center"><br /><input style="height:40px;width:150px; font-size:16px; text-align:center; color:white; border:1px dashed #ccc; background-color:#57b846;" type="button" hidden="hidden" value="Start Test" id="btnStartTest" onclick="location.href='@Url.Action("LoadSpatialTest", "Test")'" /></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/wwwroot/js/responsive-ui.js" type="text/javascript"></script>
    <script type="text/javascript">
        var setting1 = window.matchMedia("(max-width: 414px)")
        ApplyPictureCompletionSettings(setting1);
        setting1.addListener(ApplyPictureCompletionSettings)
    </script>
</body>
</html>
