<!--<!DOCTYPE html>-->
@{
    Layout = null;
}
@model DataAccessLayer.Student
<html lang="en">
<head>

    <!--<meta charset="utf-8" content="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2299c5">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <title>ONLINE PERFORMANCE APTITUDE TEST</title>

    <meta name="keywords" content="online, verbal, english, ability, test, questions, answers, explanation, solutions, 1" />
    <meta name="description" content="Take this &quot;Online Verbal Ability Test 1&quot; test and find out how much you score before you appear for your next interview and written test." />

    <link href="~/wwwroot/css/verbal_test.css" type="text/css" rel="stylesheet" media="screen" />
    @*<script src="~/wwwroot/js/verbal_test.js" type="text/javascript"></script>*@
    <script src="~/wwwroot/js/Test.js" type="text/javascript"></script>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />


</head>

<body>

    <div>

        <!--[if IE]><div class="inner-page-ie"><![endif]-->
        <div>

            <div>
                @*<div id="divHeader" class="pagehead" style="text-align:center"><h1>>PERFORMANCE APTITUDE - PICTURE ASSEMBLY</h1></div>*@
                <section class="c-hero c-hero--test">


                    <div id="divHeader" class="c-hero-test l-article l-container l-grid l-grid-2 l-grid-nogap u-flex-align-s">
                        <div class="c-hero__intro u-flex-1 js-package" data-slug="top-aptitude-tests">
                            <h1 class="heading--xxl u-mt1">

                                PERFORMANCE APTITUDE TEST

                            </h1>
                            <h2 class="heading--xxl u-mt1">

                                PICTURE ASSEMBLY (Total Questions: 20, Timeline: 7 Minutes)

                            </h2>


                            @*<div class="c-hero__description">
                        <p>
                            Welcome to Adhyapaan Physchometric Test platform. The test we have designed is a simple test to measure Emotional Regulation and various aspects on one’s Aptitude, which helps in identifying the areas of strength and weakness for an individual.
                        </p>
                    </div>*@
                        </div>
                    </div>

                </section>
                <div id="divUserDetails" style="margin-left:0px;margin-right:0px;">

                    <fieldset style="border:2px solid skyblue; font:bold; -moz-border-radius:8px;  -webkit-border-radius:8px;  border-radius:8px; background-color:white;  width:100%;height:45px;">
                        <legend align="left" style="color:#0394CE;"><b> Student Details:</b></legend>
                        <table align="left" style="font:5px !important; color:#0394CE;">

                            <tr>
                                <td style="width:20%">
                                    <label><b> Name: @Model.Name</b></label>

                                </td>
                                <td style="width:20%">
                                    <label> <b>Email: @Model.Email_ID</b></label>

                                </td>
                                <td style="width:35%">
                                    <label><b> Package: @Model.Package_Name</b></label>

                                </td>
                                <td style="width:25%">
                                    <label><b> Reference Code: @Model.Reference_Code</b></label>

                                </td>
                            </tr>
                            @*<tr>

                    </tr>*@
                            @*<tr>
                        <td style="width:100%">
                            <label> Reference Code: <b>@Model.Reference_Code</b></label>

                        </td>
                    </tr>*@

                            @*<tr>

                    </tr>*@


                        </table>

                    </fieldset>
                </div>
                <div id="divFloatTimer" align="center" style="display:none; padding:10px; position:fixed; z-index:3000000; Top:20px; right:80px; width:auto; background-color:#5eac1a; color:white; ">
                    Time Left: <span id="idFloatTimerLCD" style="font-weight:bold"></span>
                </div>
                <div class="breadcrumb">
                    @*<a href="/">Home</a> &raquo;
            <a href="/online-test/categories/">Online Test</a> &raquo;
            <a href="/online-test/verbal-ability-test/">Online Verbal Ability Test</a> &raquo; Verbal Ability Test 1*@
                    <span id="idTimerSpan" style="color:red; display:none; padding-left:15px">Time Left: <b id="idTimerLCD">00:07:00</b></span>
                    <input type="hidden" id="hdnTestTitleID" value="3" />
                    <input type="hidden" id="hdnTestID" value="21" />
                    <input type="hidden" id="hdnInitialTimer" value="420" />
                    <input type="hidden" id="hdnTimer" value="420" />
                </div>
                <div class="main-left">

                    <script type="text/javascript" charset="utf-8">

                        function StartTestButtonClickHandler(thisObj) {
                            /* 4 Lines - Firefox Combatability */
                            //$('#divResult').html('');
                            var _timerHandler = 0;
                            $('#hdnTimer').val($('#hdnInitialTimer').val());

                            $('#divInitiator').remove();

                            $('#divTabContent').show();
                            //$('#idTimerSpan').show();
                            $('#divFloatTimer').show();
                            _timerHandler = setInterval("MyTimer()", 1000);
                        }





                       
                    function MyTimer() {
                        var valueTimer = $('#hdnTimer').val();

                        if (valueTimer > 0) {
                            valueTimer = valueTimer - 1;

                            hours = (valueTimer / 3600).toString().split('.')[0];
                            mins = ((valueTimer % 3600) / 60).toString().split('.')[0];
                            secs = ((valueTimer % 3600) % 60).toString();

                            if (hours.length == 1) hours = '0' + hours;
                            if (mins.length == 1) mins = '0' + mins;
                            if (secs.length == 1) secs = '0' + secs;

                            $('#idTimerLCD').text(hours + ':' + mins + ':' + secs);
                            $('#hdnTimer').val(valueTimer);

                            document.title = $('#idTimerLCD').text();
                            $('#idFloatTimerLCD').text($('#idTimerLCD').text());
                        }
                        //else {
                        //    alert(" Your time is up for this test.You will be moved to Next Test.");
                        //    $("#frmSimilarities").submit();

                        //}
                    }

                    </script>


                    <a class="trigger_popup_fricc">Click here for Instruction</a>

                    <div class="hover_bkgr_fricc">
                        <span class="helper"></span>
                        <div>
                            <div class="popupCloseButton">&times;</div>
                            <div id="divStartTestInstruction">
                                <div class="div-test-instruction">
                                    <p class="mx-green mx-bold mx-uline">Instruction:</p>

                                    <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td colspan="2">
                                                <div class="bix-div-direction">
                                                    <div class="title-bar">
                                                        In this test, parts of well known objects are placed in the wrong order. You have to choose the correct order, from left to right, in which these parts should be placed in order to form the object. The parts of each object are numbered. Some possible ways of arranging these parts are given beside each object. Only one arrangement is correct.
                                                    </div>
                                                    <div class="title-bar">
                                                        Look at these examples:
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td class="img-PA-pic-completion" valign="middle">
                                                <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ0.png" />

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="bix-td-miscell" valign="top">
                                                <table class="bix-tbl-options" id="tblOption_177" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>

                                                        <td class="bix-td-option" width="1%">A.</td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_A_177">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="bix-inner-td-option">1 2 3</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="bix-td-option" width="1%">B.</td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_B_177">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="bix-inner-td-option">3 2 1</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bix-td-option" width="1%">C.</td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_177">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="bix-inner-td-option">3 1 2</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="bix-td-option" width="1%">D.</td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_177">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="bix-inner-td-option">2 1 3</td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bix-td-option" width="1%">E.</td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_177">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="bix-inner-td-option">1 3 2</td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="bix-div-direction">
                                                    <div class="title-bar">
                                                        The correct answer id D, for 2 1 3 is the only order that the parts can be placed in to resemble kettle.
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>


                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>
                    <form id="frmPictureAssembly" method="POST" action="~/Test/SavePictureAssemblyTest">
                       
                            <input style="display:none;" name="Reference_Code" value=@Model.Reference_Code />
                            <div id="divTabContent" style="width:100%; text-align:center;" class="mydivs">



                                <div class="bix-tbl-container bix-div-direction title-bar" id="firstrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">1.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ1.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem1"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 4 3 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem1"></td>
                                                        <td class="bix-td-option" width="99%">B. 4 3 1 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem1"></td>
                                                        <td class="bix-td-option" width="99%">C. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem1"></td>
                                                        <td class="bix-td-option" width="99%">D. 3 4 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem1"></td>
                                                        <td class="bix-td-option" width="99%">E. 1 3 2 4</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">2.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ2.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem2"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem2"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 1 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem2"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 2 4 3 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem2"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 4 1 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem2"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 2 3 4 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar" id="secondrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">3.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ3.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem3"></td>
                                                        <td class="bix-td-option" width="99%">A. 4 3 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem3"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 3 1 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem3"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 2 1 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem3"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 3 4 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem3"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 2 3 4</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">4.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ4.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem4"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 2 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem4"></td>
                                                        <td class="bix-td-option" width="99%">B. 3 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem4"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 1 3 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem4"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 1 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem4"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 2 3 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="bix-tbl-container bix-div-direction title-bar" id="thirdrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">5.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ5.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem5"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 2 3 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem5"></td>
                                                        <td class="bix-td-option" width="99%">B. 3 1 4 2 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem5"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 3 1 2 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem5"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 1 3 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem5"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 5 1 4 2 3</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">6.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ6.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem6"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 5 1 2 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem6"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 2 3 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem6"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 5 3 1 4 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem6"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 5 3 2 1 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem6"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 5 2 3 4 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="bix-tbl-container bix-div-direction title-bar" id="fourthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">7.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ7.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem7"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 5 2 1 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem7"></td>
                                                        <td class="bix-td-option" width="99%">B. 3 1 2 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem7"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 3 1 2 5 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem7"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 1 3 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem7"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 3 2 5 1 4</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">8.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ8.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem8"></td>
                                                        <td class="bix-td-option" width="99%">A. 5 1 4 2 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem8"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 2 3 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem8"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 5 4 1 2 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem8"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 5 2 1 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem8"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 5 2 4 1 3</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar" id="fifthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">9.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ9.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem9"></td>
                                                        <td class="bix-td-option" width="99%">A. 2 1 4 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem9"></td>
                                                        <td class="bix-td-option" width="99%">B. 3 4 1 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem9"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 2 4 1 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem9"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem9"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 4 3 2 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">

                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">10.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ10.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem10"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem10"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 1 4 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem10"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 2 1 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem10"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 4 1 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem10"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 4 3 2</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar" id="sixthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">11.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ11.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem11"></td>
                                                        <td class="bix-td-option" width="99%">A. 4 3 2 1 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem11"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 3 4 5 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem11"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 1 4 3 2 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem11"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 5 2 3 4 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem11"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 4 3 5 2</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">12.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ12.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem12"></td>
                                                        <td class="bix-td-option" width="99%">A. 4 2 1 3 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem12"></td>
                                                        <td class="bix-td-option" width="99%">B. 5 4 2 3 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem12"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 5 2 3 4 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem12"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 5 3 2 4 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem12"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 5 3 4 1 2</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="bix-tbl-container bix-div-direction title-bar" id="seventhrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">13.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ13.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem13"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 3 2 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem13"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 5 4 3 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem13"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 2 4 5 1 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem13"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 2 3 1 4 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem13"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 5 4 3 2 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">

                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">14.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ14.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem14"></td>
                                                        <td class="bix-td-option" width="99%">A. 1 4 3 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem14"></td>
                                                        <td class="bix-td-option" width="99%">B. 4 3 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem14"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 1 3 4 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem14"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 1 2 4 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem14"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 3 2 4</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar" id="eighthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">15.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ15.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem15"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 1 4 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem15"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 1 4 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem15"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem15"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 3 4 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem15"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 3 2 4 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">

                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">16.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ16.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem16"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 2 1 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem16"></td>
                                                        <td class="bix-td-option" width="99%">B. 3 4 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem16"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 4 3 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem16"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem16"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 3 2 4 1</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>



                                <div class="bix-tbl-container bix-div-direction title-bar" id="ninthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">17.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ17.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem17"></td>
                                                        <td class="bix-td-option" width="99%">A. 2 4 1 3 5 6</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem17"></td>
                                                        <td class="bix-td-option" width="99%">B. 2 6 5 1 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem17"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 6 2 4 3 1 5</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem17"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 6 5 4 1 3 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem17"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 6 5 4 3 2</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">

                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">18.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ18.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem18"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 2 6 1 5 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem18"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 4 2 3 5 6</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem18"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 3 2 1 5 6 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem18"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 3 6 2 5 1 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem18"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 3 5 1 4 2 6</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar" id="tenthrowquestions" style="display: inline-block;width:800px; background-color: lightblue;  border: 15px;  padding: 50px;  margin: 20px;">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">19.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ19.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem19"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 1 2 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem19"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 2 3 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem19"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 3 4 1 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem19"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 3 2 4 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem19"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 3 1 4 2</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">

                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">

                                                    <tr>
                                                        <td class="bix-td-qno jq-qno-142" rowspan="2" valign="top" align="left">20.</td>


                                                        <td valign="middle">
                                                            <img style="height:200px;" src="~/wwwroot/images/PA-PictureAssembly/PA-PictureAssemblyQ20.png" />

                                                        </td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="50%">
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="A" name="PAPicAssem20"></td>
                                                        <td class="bix-td-option" width="99%">A. 3 1 4 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="B" name="PAPicAssem20"></td>
                                                        <td class="bix-td-option" width="99%">B. 1 3 2 4</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="C" name="PAPicAssem20"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_C_142">C. 4 3 2 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="D" name="PAPicAssem20"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">D. 1 3 4 2</td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" class="bix-td-option bix-td-radio" width="1%"><input type="radio" class="result-option cls_142" value="E" name="PAPicAssem20"></td>
                                                        <td class="bix-td-option" width="99%" id="tdOptionDt_D_142">E. 1 2 3 4</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>











                            </div>
                            <input style="height:30px; font-size:14px; text-align:center; padding:20px; margin-top:20px; margin-left:320px; margin-bottom:20px; border:1px dashed #ccc; background-color:#57b846;" type="button" value="Prev" name="Prev" id="btnPrev" />
                            <input style="height:30px; font-size:14px; text-align:center; padding:20px; margin-top:20px; margin-left:380px; margin-bottom:20px; border:1px dashed #ccc; background-color:#57b846;" type="button" value="Next" name="Next" id="btnNext" />

                            <div id="divSubmitTest" align="center" hidden="hidden" style="padding:20px; margin-top:20px; margin-bottom:20px; border:1px dashed #ccc; background-color:#fdfdfd;">
                                <input style="height:30px; font-size:14px" align="center" type="button" value="Submit Test" id="btnSubmitPicturAssebmlyTest" />
                            </div>


                    </form>
                </div>
                <!--[if IE]></div><![endif]-->

            </div>

        </div>
    </div>
</body>
</html>